/*CSS reset*/
@charset "utf-8";

html{
	color:#000;
	background:#FFF;
}
body,
div,
dl,
dt,
dd,
h1,
h2,
h3,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
	text-decoration: none;
}
em,
strong,
b,
u,
i{
	font-style:normal;
	font-weight:normal;
}

ul {
	list-style:none;
}
h1,
h2,
h3{
	font-weight:normal;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%; /*to enable resizing for IE*/
}
